.about {
	background: url("../img/backgrounds/background-green1.svg") no-repeat 50% 50%;
	background-size: cover;
	background-color: $greenText;
	padding: 27px 0 32px;

	&__container {
		@extend %container;
	}

	&__text {
		font-family: "Etelka", sans-serif;
		font-weight: normal;
		font-size: 3.5rem;
		line-height: 4.6rem;
		color: white;
		text-align: center;
		margin: 4.8rem 0;
	}

	&__definition {
		font-weight: bold;
		color: $yellowText;
	}

	&__target {
		color: $yellowText;
	}
}



@media screen and (max-width: 767px) {
	.about {
		padding: 20px 0 25px;

		&__text {
			font-size: 3.2rem;
			line-height: 4rem;
			margin: 3.8rem 0;
		}
	}
}