.contacts {
	padding: 45px 0px;


	&__container {
		@extend %container;

		display: flex;
		justify-content: space-around;
		padding: 0 55px;
	}

	&__item {
		font-size: 2.5rem;
		width: 300px;
		padding: 24px 10px;
	}

	&__separator {
		@extend %separator;
		height: 210px;
	}

	&__tel {
		font-size: 3.2rem;
		color: $lightBlueText;
	}

	&__place {
		color: $greenText;
		margin: 1.8rem 0 0.6rem;
	}

	&__address {
		line-height: 4.1rem;
		color: $greyDarkText;
		margin: 0;
	}
}



@media screen and (max-width: 1199px) {

	.contacts {

		&__item {
			padding: 18px 10px;
		}

		&__separator {
			height: 200px;
		}
	}
}

@media screen and (max-width: 999px) {
	.contacts {

		&__container {
			padding: 0 40px;
		}

		&__item {
			width: 270px;
		}

		&__separator {
			height: 190px;
		}
	}
}


@media screen and (max-width: 767px) {
	.contacts {
		padding: 45px 0px;

		
		&__container {
			flex-direction: column;
			align-items: center;
		}

		&__separator {
			height: 2px;
			width: 90%;
			margin: 3rem;
		}

		&__item {
			width: auto;
			text-align: center;
		}
	}
}