.footer {
	background-color: $lightGreyBackground;
	padding: 70px 0 30px;

	&__container {
		@extend %container;
	}

	&__flex-container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 363px;
		height: 78px;
	}

	&__social {
		width: 578px;
		display: flex;
		justify-content: space-between;;
	}

	&__social-reference {
		transition: transform 0.2s;

		img {
			width: 78px;
			height: 78px;
		}
	}

	&__social-reference:hover {
		transform: scale(1.2, 1.2);
	}

	&__social-reference:active {
		opacity: 0.7;
	}

	&__copyright {
		padding: 10px 0;
		margin-top: 63px;
	}	

	&__copyright-text {
		font-size: 1.8rem;
		font-weight: normal;
		text-align: center;
		color: $greyText;
		margin: 1rem 0;
	}
}



@media screen and (max-width: 1199px) {
	.footer {		
		&__logo {
			width: 325px;
			height: 70px;
		}

		&__social {
			width: 500px;
			display: flex;
			justify-content: space-between;;
		}

		&__social-reference {
			img {
				width: 70px;
				height: 70px;
			}
		}
	}
}



@media screen and (max-width: 999px) {
	.footer {
		&__logo {
			margin-bottom: 60px;
		}

		&__flex-container {
			flex-direction: column;
			align-items: center;
		}

		&__social {
			width: 550px;
		}

		&__copyright {
			margin-top: 50px;
		}

		&__copyright-text {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 767px) { 
	.footer {
		padding:50 0 20px;
		&__logo {
			width: 300px;
			height: 65px;
			margin-bottom: 60px;
		}


		&__social {
			width: 440px;
		}

		&__social-reference {

			img {
				width: 65px;
				height: 65px;
			}
		}

		&__copyright-text {
			font-size: 2.2rem;
		}
	}
}

@media screen and (max-width: 479px) {
	.footer {
		&__logo {
			width: 250px;
			height: 54px;
			margin-bottom: 50px
		}

		&__social {
			width: 300px;
		}

		&__social-reference {

			img {
				width: 50px;
				height: 50px;
			}
		}

		&__copyright {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 350px) {
	.footer {
		&__social {
			width: 280px;
		}

		&__social-reference {

			img {
				width: 45px;
				height: 45px;
			}
		}
	}
}