.header {
	
	&__container {
		@extend %container;
	}
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 225px;
	padding-top: 5px;
	

	&__main {
		height: 132px;

		img {
			height: 100%;
		}
	}

	&__university {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 340px;
		height: 132px;
	}

	&__image {
		width: 132px;
	}


	&__separator {
		@extend %separator;
		height: 90%;
	}
}



@media screen and (max-width: 999px) {
	.logo {
		height: 200px;
		&__main {
			height: 125px;
		}

		&__university {
			width: 320px;
		}

		&__image {
			width: 125px;
		}
	}
}

@media screen and (max-width: 767px) {
	.logo {
		padding-top: 0;
		height: 150px;

		&__main {
			height: 90px;
		}

		&__university {
			width: 210px;
		}

		&__image {
			width: 90px;
		}

		&__separator {
			height: 90px;
		}
	}
}

@media screen and (max-width: 479px) {
	.logo {
		height: 120px;
		&__main {
			height: 70px;
		}

		&__university {
			width: 130px;
		}

		&__image {
			width: 60px;
		}

		&__separator {
			height: 60px;
		}
	}
}

@media screen and (max-width: 350px) {
	.logo {
		height: 100px;

		&__main {
			height: 65px;
		}

		&__university {
			width: 110px;
		}

		&__image {
			width: 50px;
		}

		&__separator {
			height: 50px;
		}
	}
}