.section {
	padding: 90px 0 140px;
	background-color: $lightGreyBackground;

	&__container {
		@extend %container;
	}

	&__title {
		font-family: "Etelka", san-serif;
		font-weight: normal;
		font-size: 3.5rem;
		color: $greenText;
		text-transform: uppercase;
		text-align:center;
		margin: 0;
	}

	&__items-container {
		display: flex;
		justify-content: space-between;
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin-top: 6rem;

	&__circle {
		width: 230px;
		height: 230px;
		border-radius: 115px;
		background-color: #fff;
		margin: 2.5rem 0 5.2rem;
		overflow: hidden;

		img {
			height: 100%;
		}
	}


	&__name {
		display: inline-block;
		font-family: "Etelka", san-serif;
		font-weight: normal;
		font-size: 1.25rem;
		transform: scale(2, 2);
		line-height: 3rem;
		text-transform: uppercase;
		text-align: center;
		color: $lightBlueText;
		transition: color 0.2s;
	}
}

.item:hover .item__name {
	color: $blueTextHover;
}


@media screen and (max-width: 1199px) {

	.section {
		padding: 80px 0 100px;
		background-color: $lightGreyBackground;
	}

	.item {
		&__circle {
			width: 210px;
			height: 210px;
		}
	}
}

@media screen and (max-width: 999px) {
	.section {
		&__items-container {
			justify: space-around;
			flex-wrap: wrap;
		}
		&__container {
			padding: 0 15%;
		}
	}

	.item {
		padding: 0 20px;
	}
}

@media screen and (max-width: 767px) {
	.section {
		padding: 60px 0 60px;

		&__container {
			padding: 20px;
		}

		&__items-container {
			justify-content: center;
		}
	}

	.item {
		padding: 0 32px;
		margin-top: 6rem;

		&__circle {
			width: 180px;
			height: 180px;
			margin: 2rem 0 3rem;
		}
	}
}