.advantages {
	padding: 4.5rem 0;


	&__container {
		@extend %container;
	}

	&__photo-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.9rem;
	}

	&__photo {
		width: 365px;
	}

	&__list {
		width: 565px;
		margin: 0 auto;
	}

	&__li {
		color: $darkGreyText;
		font-size: 2rem;
		font-weight: normal;
		line-height: 3.5rem;
		padding: 1.3rem 0;	
	}

	&__li-text{
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}

	&__li-other-view {
		color: $lightBlueText;
	}
	
	&__li-galka {
		display: inline-flex;
		width: 4.4rem;
		height: 4.4rem;
		border-radius: 23px; 
		background-color: $lightBlueText;
		vertical-align: -1%;
		justify-content: center;
		align-items: center;
		margin-right: 1.8rem;

		img {
			width: 58%;
			position: relative;
			left: 1%;
		}
	}
}

@media screen and (max-width: 1199px) {
	.advantages {
		&__photo {
			width: 32%;
		}	
	}
}

@media screen and (max-width: 999px) {
	.advantages {
		&__list {
			width: 560px;
		}

		&__li {
			font-size: 2.2rem;
			line-height: 3.6rem;
		}	
	}
}

@media screen and (max-width: 767px) {

	.advantages {

		&__list {
			width: 440px;
		}

		&__li-text{
			width: 385px;
		}

		&__photo-container {
			display: none;
		}
	}
}

@media screen and (max-width: 479px) {

	.advantages {

		&__list {
			width: 328px;
		}

		&__li-text{
			width: 260px;
		}

		&__photo-container {
			display: none;
		}
	}
}

@media screen and (max-width: 350px) {
	.advantages {

		&__list {
			width: 288px;
		}

		&__li-text{
			width: 240px;
		}
	}
}