.advertising {
	padding: 4.2rem 0;
	background: url('../img/backgrounds/3photoback.jpg') no-repeat 50% 50%;
	background-size: cover;
	
	&__container {
		@extend %container;
	}

	&__title {
		font-size: 3.5rem;
		line-height: 3rem;
		font-weight: normal;
		color: $yellowText;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 6rem;
	}

	&__text {
		font-size: 2rem;
		line-height: 2.8rem;
		color: white;
		margin: 0;
		display: inline-block;
		width: 74%;
	}

	&__logos {
		height: 120px;
		display: flex;
		align-items: center;
		margin-top: 4.4rem;
	}

	&__logos-iubip {
		height: 78%;
		margin-right: 5.8rem;
	}

	&__logos-fns {
		height: 100%;
	}

	&__btn {
		@extend %btn;
		background-color: $yellowText;
		color: $darkGreyText;
		margin: 40px auto 10px;
	}

	&__btn:active {
		opacity: 0.8;
	}

	&__btn:before {
        @extend %btn-before;
        background: #e5cd00;
    }

    &__btn:hover:before {
        @extend %btn-before-hover;
    }
}



@media screen and (max-width: 1199px) {
	.advertising {
		background-position: 65% 50%;
	}
}

@media screen and (max-width: 999px) {
	.advertising {
		&__text {
			font-size: 2.2rem;
			line-height: 3rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.advertising {
		background-position: 70% 50%;
		padding: 2.5rem 0 3rem;

		&__title {
			margin-bottom: 3rem;
			line-height: 4rem;
		}

		&__text {
			font-size: 2.2rem;
			line-height: 3rem;
			width: auto;
		}

		&__logos {
			height: 80px;
			margin-top: 2rem;
		}

		&__btn {
			background-color: $yellowText;
			color: $darkGreyText;
			margin: 30px auto 10px;
		}
	}
}

@media screen and (max-width: 479px) {
	.advertising {
		&__logos {
			height: 70px;
		}
		&__logos-iubip {
			height: 78%;
			margin-right: 3rem;
		}
	}
}

@media screen and (max-width: 350px) {
	.advertising {
		&__title {
			font-size: 3rem;
		}
	}
}