.application {
	background: url('../img/backgrounds/1parallax.jpg') no-repeat 50% 50%;
	background-size: cover;
	position: relative;
	overflow: hidden;
	height: 441px;

	&__parallax {
		position: absolute;
		top: 0;
		left: 0;
		height: 745px;
		width: 100%;
		background: url('../img/backgrounds/1parallax.jpg') no-repeat 50% 0;
		background-size: cover;
		z-index: 1;
	}
	
	&__parallax-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	&__container {
		@extend %container;
		padding: 50px 75px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__li {
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			height: 93px;
		}
	}

	&__li-text {
		font-size: 2.5rem;
		line-height: 3rem;
		color: white;
		text-align: center;
	}

	&__btn {
		@extend %btn;
		background-color: $greenText;
		color: white;
		margin: 40px auto 5px;
	}

	&__btn:active {
		opacity: 0.8;
	}

	&__btn:before {
        @extend %btn-before;
        background: $lightBlueText;
    }

    &__btn:hover:before {
        @extend %btn-before-hover;
    }
}



@media screen and (max-width: 999px) {
	.application {
		height: auto;
			&__parallax {
			display: none;
		}
		
		&__parallax-content {
			position: static;
			height: auto;
		}
	}
}

@media screen and (max-width: 767px) {
	.application {
		background: url('../img/backgrounds/1parallax.jpg') no-repeat 50% 50%;
		background-size: cover;

		&__container {
			padding: 50px 20px;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__li {
			width: auto;
			margin-bottom: 5rem;
		}

		&__btn {
			margin: 30px auto 0;
		}
	}
}