.application-info {
	background: url('../img/backgrounds/2parallax.jpg') no-repeat 50% 50%;
	background-size: cover;
	padding: 40px 0;
	height: 599px;
	position: relative;
	overflow: hidden;


	&__parallax {
		position: absolute;
		top: 0;
		left: 0;
		height: 936px;
		width: 100%;
		background: url('../img/backgrounds/2parallax.jpg') no-repeat 50% 0;
		background-size: cover;
		z-index: 1;
	}
	
	&__parallax-content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	&__container {
		@extend %container;
		text-align: center;
	}

	&__title {
		font-size: 3.5rem;
		line-height: 4.2rem;
		color: white;
		font-weight: normal;
		text-align: center;
		display: inline-block;
		width: 56%;
		margin: 3rem 0 4.8rem
	}

	&__title-other-view {
		color: $yellowText;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__li {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__figure {
		font-size: 6rem;
		line-height: 6rem;
		color: white;
		font-weight: bold;
	}

	&__li-text {
		font-size: 2rem;
		line-height: 2.8rem;
		color: $greenText;
		text-align: center;
		margin: 1.5rem 0 2rem;
	}

	&__li-other-view {
		color: white;
	}

	&__btn {
		@extend %btn;
		background-color: $greenText;
		color: white;
		margin: 40px auto 20px;
	}

	&__btn:active {
		opacity: 0.8;
	}

	&__btn:before {
        @extend %btn-before;
        background: $lightBlueText;
    }

    &__btn:hover:before {
        @extend %btn-before-hover;
    }
}

@media screen and (max-width: 1199px) {
	.application-info {
		&__title {
			display: inline-block;
			width: 70%;
		}
	}
}

@media screen and (max-width: 999px) {
	.application-info {
		height: auto;

		&__parallax {
			display: none;
		}
		
		&__parallax-content {
			position: static;
			height: auto;
		}

		&__title {
			display: inline-block;
			width: 80%;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__li {
			width: 600px;
			margin: 2rem 0;
		}

		&__li-text {
			font-size: 2.5rem;
			line-height: 3.8rem;
			color: $greenText;
			text-align: center;
			margin: 1.5rem 0 2rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.application-info {
		padding: 20px 0;

		&__title {
			width: 90%;
		}

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__li {
			width: 90%;
			margin: 2rem 0;
		}

		&__li-text {
			font-size: 2.5rem;
			line-height: 3.8rem;
			color: $greenText;
			text-align: center;
			margin: 1.5rem 0 2rem;
		}

		&__btn {
			margin: 30px auto 20px;
		}
	}
}

@media screen and (max-width: 479px) {
	.application-info {
		padding: 20px 0;

		&__title {
			width: auto;
		}


		&__li {
			width: auto;
		}
	}
}