.authority {
	background: url("../img/backgrounds/background-green2.svg") no-repeat 50% 50%;
	background-size: cover;
	background-color: $greenText;
	padding: 4.5rem 0 3.5rem;
	font-size: 2rem;
	line-height: 2.8rem;
	color: white;

	&__container {
		@extend %container;
	}

	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__li {
		width: 355px;
		height: 148px;
		background-color: $lightBlueText;
		border: 2px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__li-text {
		margin: 0;
	}

	&__quote {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}

	&__circle {
		background: url('../img/photos/vysokov.jpg');
		width: 235px;
		height: 235px;
		border-radius: 115px;
		background-size: cover;
	}

	&__text-container {
		text-align: right;
		width: 57%;
		padding: 2rem 0;
	}

	&__text-quote {
		margin: 1.5rem 0;
		font-style: italic;
	}


	&__name {
		margin: 2.5rem 0 0.2rem;
		color: $yellowText;
		font-weight: bold;
	}


	&__post {
		margin: 0;
		font-size: 1.8rem;
		line-height: 2.5rem;
	}
}



@media screen and (max-width: 1199px) {
	.authority {
		&__li {
			width: 30%;
			height: 120px;
			min-width: 300px;
		}	
	}
}

@media screen and (max-width: 999px) {
	.authority {
		font-size: 2.6rem;
		line-height: 3.5rem;

		&__list {
			flex-direction: column;
			align-items: center;
		}

		&__li {
			margin: 15px 0;
			width: 500px;
			height: 138px;
		}

		&__circle {
			width: 210px;
			height: 210px;
		}

		&__post {
			margin: 0;
			font-size: 2.2rem;
			line-height: 2.8rem;
		}

		&__text-container {
			padding: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	
	.authority {
		&__li {
			width: 450px;
			height: 138px;
		}

		&__circle {
			display: none;		
		}

		&__quote {
			margin-top: 20px;
		}

		&__text-container {
			width: auto;
		}

		&__text-quote {
			text-align: center;
		}
	}
}

@media screen and (max-width: 479px) {
	.authority {
		
		&__li {
			width: auto;
			height: 120px;
		}
	}
}

@media screen and (max-width: 350px) {
	.authority {
		&__li {
			width: auto;
			height: 110px;
		}
	}
}