.header-section {

  &__container {
    @extend %container;
    display: flex;
    justify-content: space-between;
  }
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 87%;
  padding-top: 5px;

  &__main {
    height: 70px;

    img {
      height: 100%;
    }
  }

  &__university {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 70px;
  }

  &__image {
    width: 70px;
  }

  &__separator {
    @extend %separator;
    height: 90%;
    width: 2px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__btn {
    width: 70px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background: url('../img/icons/close.svg') no-repeat 50% 50%;
    background-size: 40% 40%;
    z-index: 30;
  }

  &__btn_press_pressed {
    .menu__icon {
      opacity: 0;
    }

  }

  &__icon {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 1;
  }

  &__list {
    display: flex;
    height: 100%;
    width: 0;
    background-color: $greenText;
    position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s, opacity 0.5s;
    opacity: 0;
    overflow: hidden;
    z-index: 20;
  }

  &__list_visibility_visible {
    width: 100%;
    opacity: 1;
  }

  &__li {
    width: auto;
    flex-grow: 5;
    height: 100%;
    transition: 0.2s;
  }

  &__li:hover {
    background-color: $lightBlueText;
  }

  &__reference {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__picture {
    height: 100%;
  }

  &__text {
    font-size: 2.2rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
  }

  &__home {
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    width: 65%;
  }

  &__empty {
    height: 100%;
    width: 35%;
  }

  &__fat {
    flex-grow: 1;
    position: relative;
  }

  &__fat:last-of-type {
    flex-grow: 7;
  }

  &__container {
    position: relative;
  }
}

@media screen and (max-width: 1199px) {
  .menu {

    &__home {
      justify-content: center;
      align-items: flex-start;
      padding-left: 20px;
    }

    &__fat {
      flex-grow: 1;
    }

    &__fat:last-of-type {
      flex-grow: 10;
    }
  }
}

@media screen and (max-width: 999px) {
  .menu {

    &__list {
      flex-direction: column-reverse;
      height: auto;
    }

    &__list_visibility_visible {
      width: 400px;
    }

    &__reference {
      align-items: flex-start;
      padding-left: 40px;
    }

    &__reference {
      height: 100px;
    }

    &__home {
      padding: 30px 0 0 40px;
      margin: 0;
      height: 110px;
      width: 100%;
    }

    &__li:first-of-type .menu__reference {
      height: 120px;
      padding-bottom: 20px;
    }

    &__empty {
      width: 30%;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__text {
      font-size: 2.8rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo-section {
    padding-top: 0;
    height: 130px;

    &__main {
      height: 75px;
    }

    &__university {
      width: 150px;
    }

    &__image {
      width: 70px;
    }

    &__separator {
      height: 70px;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;

    &__btn {
      width: 60px;
      height: 60px;
      background-size: 50% 50%;
    }

    &__reference {
      padding-left: 40px;
      height: 80px;
    }

    &__home {
      padding: 30px 0 0 40px;
      height: 110px;
    }

    &__li:first-of-type .menu__reference {
      height: 100px;
      padding-bottom: 20px;
    }

    &__list_visibility_visible {
      width: 350px;
    }
  }
}

@media screen and (max-width: 479px) {
  .logo-section {
    height: 100px;

    &__main {
      height: 60px;
    }

    &__university {
      width: 110px;
    }

    &__image {
      width: 45px;
    }

    &__separator {
      height: 45px;
    }
  }

  .menu {
    padding-left: 15px;
    padding-right: 5px;

    &__btn {
      padding: 5px;
      width: 45px;
      height: 45px;
    }

    &__list_visibility_visible {
      width: 300px;
    }

    &__reference {
      height: 65px;
      padding-left: 30px;
    }

    &__home {
      padding: 15px 0 0 30px;
      height: 90px;
    }

    &__li:first-of-type .menu__reference {
      height: 80px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width: 350px) {
  .logo-section {
    height: 100px;

    &__main {
      height: 60px;
    }

    &__university {
      width: 90px;
    }

    &__image {
      width: 40px;
    }

    &__separator {
      height: 40px;

    }
  }

  .menu {
    padding-left: 15px;

    &__btn {
      padding: 5px 0 5px 5px;
      width: 40px;
      height: 40px;
    }
  }

}