.reviews {
	padding: 3.8rem 0 5.3rem;
	background-color: $lightGreyBackground;

	&__container {
		@extend %container;
	}

	&__title {
		font-size: 3.5rem;
		font-weight: normal;
		line-height: 4.7rem;
		text-transform: uppercase;
		color: $lightBlueText;
		text-align: center;
	}

	&__item {
		padding: 4rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	&__avatar {
		width: 203px;
		height: 203px;
		border-radius: 152px;
	}

	&__name {
		font-size: 2.5rem;
		line-height: 3rem;
		font-weight: normal;
		color: $greenText;
		margin: 3.2rem 0 1.8rem;	
	}

	&__text {
		font-size: 2rem;
		line-height: 2.8rem;
		color: $greyReviewsText;
		margin: 0;
		display: inline-block;
		width: 390px;
	}

	&__btn {
		position: absolute;
		height: 100px;
		width: 100px;
		top: calc(30%);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 10;

		svg {
			height: 100%;
			width: 100%;
			fill: $lightBlueText;
		}
	}

	&__btn_disable {
		
		svg {
			fill: #bbbbbb;
		}
	}

	&__btn-left {
		left: 0;
		padding: 30px 40px 30px 20px;
	}

	&__btn-right {
		right: 0;
		padding: 30px 20px 30px 40px;
	}
}

.slider {
	&__viewport {
		overflow: hidden;
		user-select:none;
		position: relative;
	}
	
	&__wrapper {
		display: flex;
		justify-content: space-between;
		position: relative;
		transition: 0.5s;
	}

	&__item {
		width: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.reviews {
		&__btn {
			height: 140px;
			width: 140px;
			top: 25%;
		}

		&__btn-left {
			padding: 40px 40px 40px 10px;
			left: -40px;
		}

		&__btn-right {
			padding: 40px 10px 40px 40px;
			right: -40px
		}
	}
}

@media screen and (max-width: 999px) {
	.reviews {
		padding: 2.8rem 0 4.3rem;

		&__item {
			padding: 2rem 0;
		}
		
		&__name {
			font-size: 2.8rem;
			line-height: 3.5rem;
		}

		&__text {
			font-size: 2.2rem;
			line-height: 3rem;
			width: 95%;
		}

		&__btn {
			height: 160px;
			width: 160px;
			top: 12%;
		}

		&__btn-left {
			padding: 50px 50px 50px 10px;
			left: 0;
		}

		&__btn-right {
			padding: 50px 10px 50px 50px;
			right: 0;
		}
	}
}

@media screen and (max-width: 767px) {
	.reviews {
		padding: 2.8rem 0 3.3rem;

		&__avatar {
			width: 180px;
			height: 180px;
		}

		&__btn {
			height: 150px;
			width: 70px;
			top: 8%;
		}

		&__btn-left {
			padding: 40px 30px 40px 10px;
			left: -10px;
		}

		&__btn-right {
			padding: 40px 10px 40px 30px;
			right: -10px;
		}
	}
}

