.user {
	background-color: $lightGreyBackground;
	padding: 35px 0 30px;
	
	&__container {
		@extend %container;
		display: flex;
	}

	&__avatar {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__circle {
		width: 230px;
		height: 230px;
		border-radius: 115px;
		background-color: #fff;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	&__name {
		font-weight: normal;
		font-size: 2rem;
		color: $lightGreyText;
		text-transform: uppercase;
		margin: 2.2rem 0 0;
	}

	&__description {
		padding: 0 4.5rem 0 ;
	}

	&__title {
		font-weight: normal;
		font-size: 3.5rem;
		line-height: 4.7rem;
		color: $greenText;
		text-transform: uppercase;
		margin: 1rem 0;
	}

	&__note {
		font-size: 2.5rem;
		line-height: 3.9rem;
		color: $lightBlueText;
		margin: 4.5rem 0;
	}
}

@media screen and (max-width: 1199px) {
	.user {
		&__name {
			font-size: 2.5rem;
		}
	}
}

@media screen and (max-width: 999px) {
	.user {
		&__circle {
			width: 210px;
			height: 210px;
		}
	}
}

@media screen and (max-width: 767px) {
	.user {

		&__container {
			flex-direction: column;
		}

		&__circle {
			width: 180px;
			height: 180px;
		}

		&__name {
			font-size: 2.8rem;
		}

		&__description {
			padding: 0;
		}

		&__title {
			text-align: center;
			margin: 3rem 0 1rem;
		}

		&__note {
			text-align: center;
			margin: 2rem 0 0;
		}
	}
}

@media screen and (max-width: 479px) {
	.user {

		&__container {
			flex-direction: column;
		}

		&__circle {
			width: 180px;
			height: 180px;
		}

		&__description {
			padding: 0;
		}

		&__title {
			text-align: center;
			margin: 3rem 0 1rem;
		}

		&__note {
			text-align: center;
			margin: 2rem 0 0;
		}
	}
}
