@font-face {
  font-family: "Etelka";
  font-weight: normal;
  src: url("../fonts/EtelkaTextPro.WOFF"); }

@font-face {
  font-family: "Etelka";
  font-weight: bold;
  src: url("../fonts/EtelkaTextProBold.WOFF"); }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, li, body {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 10px; }

body {
  background-color: white;
  font-family: "Etelka", sans-serif; }

.header__container, .section__container, .about__container, .contacts__container, .footer__container, .header-section__container, .user__container, .application__container, .advantages__container, .authority__container, .application-info__container, .reviews__container, .advertising__container {
  max-width: 1200px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px; }

.logo__separator, .contacts__separator, .logo-section__separator {
  background-color: #c2c1c0;
  width: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.application__btn, .application-info__btn, .advertising__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 581px;
  height: 91px;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0); }

.application__btn:before, .application-info__btn:before, .advertising__btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

.application__btn:hover:before, .application-info__btn:hover:before, .advertising__btn:hover:before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
       -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

@media screen and (max-width: 1199px) {
  html {
    font-size: 10px; }
  .header__container, .section__container, .about__container, .contacts__container, .footer__container, .header-section__container, .user__container, .application__container, .advantages__container, .authority__container, .application-info__container, .reviews__container, .advertising__container {
    padding: 0 30px; } }

@media screen and (max-width: 999px) {
  html {
    font-size: 9px; }
  .application__btn, .application-info__btn, .advertising__btn {
    width: 500px;
    height: 80px; } }

@media screen and (max-width: 767px) {
  html {
    font-size: 8px; }
  .header__container, .section__container, .about__container, .contacts__container, .footer__container, .header-section__container, .user__container, .application__container, .advantages__container, .authority__container, .application-info__container, .reviews__container, .advertising__container {
    padding: 0 16px; }
  .logo__separator, .contacts__separator, .logo-section__separator {
    width: 2px; }
  .application__btn, .application-info__btn, .advertising__btn {
    width: 400px;
    height: 80px; } }

@media screen and (max-width: 479px) {
  html {
    font-size: 7px; }
  .application__btn, .application-info__btn, .advertising__btn {
    width: 320px;
    height: 70px; } }

@media screen and (max-width: 350px) {
  .application__btn, .application-info__btn, .advertising__btn {
    width: 278px;
    height: 60px; } }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 225px;
  padding-top: 5px; }

.logo__main {
  height: 132px; }

.logo__main img {
  height: 100%; }

.logo__university {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 340px;
  height: 132px; }

.logo__image {
  width: 132px; }

.logo__separator {
  height: 90%; }

@media screen and (max-width: 999px) {
  .logo {
    height: 200px; }
  .logo__main {
    height: 125px; }
  .logo__university {
    width: 320px; }
  .logo__image {
    width: 125px; } }

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 0;
    height: 150px; }
  .logo__main {
    height: 90px; }
  .logo__university {
    width: 210px; }
  .logo__image {
    width: 90px; }
  .logo__separator {
    height: 90px; } }

@media screen and (max-width: 479px) {
  .logo {
    height: 120px; }
  .logo__main {
    height: 70px; }
  .logo__university {
    width: 130px; }
  .logo__image {
    width: 60px; }
  .logo__separator {
    height: 60px; } }

@media screen and (max-width: 350px) {
  .logo {
    height: 100px; }
  .logo__main {
    height: 65px; }
  .logo__university {
    width: 110px; }
  .logo__image {
    width: 50px; }
  .logo__separator {
    height: 50px; } }

.section {
  padding: 90px 0 140px;
  background-color: #eeeeee; }

.section__title {
  font-family: "Etelka", san-serif;
  font-weight: normal;
  font-size: 3.5rem;
  color: #72b52b;
  text-transform: uppercase;
  text-align: center;
  margin: 0; }

.section__items-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 6rem; }

.item__circle {
  width: 230px;
  height: 230px;
  -webkit-border-radius: 115px;
          border-radius: 115px;
  background-color: #fff;
  margin: 2.5rem 0 5.2rem;
  overflow: hidden; }

.item__circle img {
  height: 100%; }

.item__name {
  display: inline-block;
  font-family: "Etelka", san-serif;
  font-weight: normal;
  font-size: 1.25rem;
  -webkit-transform: scale(2, 2);
      -ms-transform: scale(2, 2);
          transform: scale(2, 2);
  line-height: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: #57a1d6;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s; }

.item:hover .item__name {
  color: #006ca8; }

@media screen and (max-width: 1199px) {
  .section {
    padding: 80px 0 100px;
    background-color: #eeeeee; }
  .item__circle {
    width: 210px;
    height: 210px; } }

@media screen and (max-width: 999px) {
  .section__items-container {
    justify: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .section__container {
    padding: 0 15%; }
  .item {
    padding: 0 20px; } }

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0 60px; }
  .section__container {
    padding: 20px; }
  .section__items-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .item {
    padding: 0 32px;
    margin-top: 6rem; }
  .item__circle {
    width: 180px;
    height: 180px;
    margin: 2rem 0 3rem; } }

.about {
  background: url("../img/backgrounds/background-green1.svg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-color: #72b52b;
  padding: 27px 0 32px; }

.about__text {
  font-family: "Etelka", sans-serif;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.6rem;
  color: white;
  text-align: center;
  margin: 4.8rem 0; }

.about__definition {
  font-weight: bold;
  color: #ffed00; }

.about__target {
  color: #ffed00; }

@media screen and (max-width: 767px) {
  .about {
    padding: 20px 0 25px; }
  .about__text {
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 3.8rem 0; } }

.contacts {
  padding: 45px 0px; }

.contacts__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 55px; }

.contacts__item {
  font-size: 2.5rem;
  width: 300px;
  padding: 24px 10px; }

.contacts__separator {
  height: 210px; }

.contacts__tel {
  font-size: 3.2rem;
  color: #57a1d6; }

.contacts__place {
  color: #72b52b;
  margin: 1.8rem 0 0.6rem; }

.contacts__address {
  line-height: 4.1rem;
  color: #575756;
  margin: 0; }

@media screen and (max-width: 1199px) {
  .contacts__item {
    padding: 18px 10px; }
  .contacts__separator {
    height: 200px; } }

@media screen and (max-width: 999px) {
  .contacts__container {
    padding: 0 40px; }
  .contacts__item {
    width: 270px; }
  .contacts__separator {
    height: 190px; } }

@media screen and (max-width: 767px) {
  .contacts {
    padding: 45px 0px; }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__separator {
    height: 2px;
    width: 90%;
    margin: 3rem; }
  .contacts__item {
    width: auto;
    text-align: center; } }

.footer {
  background-color: #eeeeee;
  padding: 70px 0 30px; }

.footer__flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__logo {
  width: 363px;
  height: 78px; }

.footer__social {
  width: 578px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer__social-reference {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

.footer__social-reference img {
  width: 78px;
  height: 78px; }

.footer__social-reference:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2); }

.footer__social-reference:active {
  opacity: 0.7; }

.footer__copyright {
  padding: 10px 0;
  margin-top: 63px; }

.footer__copyright-text {
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  color: #6f6f6f;
  margin: 1rem 0; }

@media screen and (max-width: 1199px) {
  .footer__logo {
    width: 325px;
    height: 70px; }
  .footer__social {
    width: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__social-reference img {
    width: 70px;
    height: 70px; } }

@media screen and (max-width: 999px) {
  .footer__logo {
    margin-bottom: 60px; }
  .footer__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__social {
    width: 550px; }
  .footer__copyright {
    margin-top: 50px; }
  .footer__copyright-text {
    font-size: 2rem; } }

@media screen and (max-width: 767px) {
  .footer {
    padding: 50 0 20px; }
  .footer__logo {
    width: 300px;
    height: 65px;
    margin-bottom: 60px; }
  .footer__social {
    width: 440px; }
  .footer__social-reference img {
    width: 65px;
    height: 65px; }
  .footer__copyright-text {
    font-size: 2.2rem; } }

@media screen and (max-width: 479px) {
  .footer__logo {
    width: 250px;
    height: 54px;
    margin-bottom: 50px; }
  .footer__social {
    width: 300px; }
  .footer__social-reference img {
    width: 50px;
    height: 50px; }
  .footer__copyright {
    margin-top: 40px; } }

@media screen and (max-width: 350px) {
  .footer__social {
    width: 280px; }
  .footer__social-reference img {
    width: 45px;
    height: 45px; } }

.header-section__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  width: 87%;
  padding-top: 5px; }

.logo-section__main {
  height: 70px; }

.logo-section__main img {
  height: 100%; }

.logo-section__university {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 70px; }

.logo-section__image {
  width: 70px; }

.logo-section__separator {
  height: 90%;
  width: 2px; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.menu__btn {
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  background: url("../img/icons/close.svg") no-repeat 50% 50%;
  -webkit-background-size: 40% 40%;
          background-size: 40% 40%;
  z-index: 30; }

.menu__btn_press_pressed .menu__icon {
  opacity: 0; }

.menu__icon {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 0;
  background-color: #72b52b;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: width 0.3s, opacity 0.5s;
  -o-transition: width 0.3s, opacity 0.5s;
  transition: width 0.3s, opacity 0.5s;
  opacity: 0;
  overflow: hidden;
  z-index: 20; }

.menu__list_visibility_visible {
  width: 100%;
  opacity: 1; }

.menu__li {
  width: auto;
  -webkit-box-flex: 5;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  height: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.menu__li:hover {
  background-color: #57a1d6; }

.menu__reference {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu__picture {
  height: 100%; }

.menu__text {
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  margin: 0; }

.menu__home {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 40px;
  width: 65%; }

.menu__empty {
  height: 100%;
  width: 35%; }

.menu__fat {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative; }

.menu__fat:last-of-type {
  -webkit-box-flex: 7;
  -webkit-flex-grow: 7;
      -ms-flex-positive: 7;
          flex-grow: 7; }

.menu__container {
  position: relative; }

@media screen and (max-width: 1199px) {
  .menu__home {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 20px; }
  .menu__fat {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .menu__fat:last-of-type {
    -webkit-box-flex: 10;
    -webkit-flex-grow: 10;
        -ms-flex-positive: 10;
            flex-grow: 10; } }

@media screen and (max-width: 999px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto; }
  .menu__list_visibility_visible {
    width: 400px; }
  .menu__reference {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 40px; }
  .menu__reference {
    height: 100px; }
  .menu__home {
    padding: 30px 0 0 40px;
    margin: 0;
    height: 110px;
    width: 100%; }
  .menu__li:first-of-type .menu__reference {
    height: 120px;
    padding-bottom: 20px; }
  .menu__empty {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0; }
  .menu__text {
    font-size: 2.8rem; } }

@media screen and (max-width: 767px) {
  .logo-section {
    padding-top: 0;
    height: 130px; }
  .logo-section__main {
    height: 75px; }
  .logo-section__university {
    width: 150px; }
  .logo-section__image {
    width: 70px; }
  .logo-section__separator {
    height: 70px; }
  .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    padding-right: 10px; }
  .menu__btn {
    width: 60px;
    height: 60px;
    -webkit-background-size: 50% 50%;
            background-size: 50% 50%; }
  .menu__reference {
    padding-left: 40px;
    height: 80px; }
  .menu__home {
    padding: 30px 0 0 40px;
    height: 110px; }
  .menu__li:first-of-type .menu__reference {
    height: 100px;
    padding-bottom: 20px; }
  .menu__list_visibility_visible {
    width: 350px; } }

@media screen and (max-width: 479px) {
  .logo-section {
    height: 100px; }
  .logo-section__main {
    height: 60px; }
  .logo-section__university {
    width: 110px; }
  .logo-section__image {
    width: 45px; }
  .logo-section__separator {
    height: 45px; }
  .menu {
    padding-left: 15px;
    padding-right: 5px; }
  .menu__btn {
    padding: 5px;
    width: 45px;
    height: 45px; }
  .menu__list_visibility_visible {
    width: 300px; }
  .menu__reference {
    height: 65px;
    padding-left: 30px; }
  .menu__home {
    padding: 15px 0 0 30px;
    height: 90px; }
  .menu__li:first-of-type .menu__reference {
    height: 80px;
    padding-bottom: 20px; } }

@media screen and (max-width: 350px) {
  .logo-section {
    height: 100px; }
  .logo-section__main {
    height: 60px; }
  .logo-section__university {
    width: 90px; }
  .logo-section__image {
    width: 40px; }
  .logo-section__separator {
    height: 40px; }
  .menu {
    padding-left: 15px; }
  .menu__btn {
    padding: 5px 0 5px 5px;
    width: 40px;
    height: 40px; } }

.user {
  background-color: #eeeeee;
  padding: 35px 0 30px; }

.user__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.user__avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.user__circle {
  width: 230px;
  height: 230px;
  -webkit-border-radius: 115px;
          border-radius: 115px;
  background-color: #fff;
  overflow: hidden; }

.user__circle img {
  height: 100%; }

.user__name {
  font-weight: normal;
  font-size: 2rem;
  color: #878787;
  text-transform: uppercase;
  margin: 2.2rem 0 0; }

.user__description {
  padding: 0 4.5rem 0; }

.user__title {
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.7rem;
  color: #72b52b;
  text-transform: uppercase;
  margin: 1rem 0; }

.user__note {
  font-size: 2.5rem;
  line-height: 3.9rem;
  color: #57a1d6;
  margin: 4.5rem 0; }

@media screen and (max-width: 1199px) {
  .user__name {
    font-size: 2.5rem; } }

@media screen and (max-width: 999px) {
  .user__circle {
    width: 210px;
    height: 210px; } }

@media screen and (max-width: 767px) {
  .user__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .user__circle {
    width: 180px;
    height: 180px; }
  .user__name {
    font-size: 2.8rem; }
  .user__description {
    padding: 0; }
  .user__title {
    text-align: center;
    margin: 3rem 0 1rem; }
  .user__note {
    text-align: center;
    margin: 2rem 0 0; } }

@media screen and (max-width: 479px) {
  .user__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .user__circle {
    width: 180px;
    height: 180px; }
  .user__description {
    padding: 0; }
  .user__title {
    text-align: center;
    margin: 3rem 0 1rem; }
  .user__note {
    text-align: center;
    margin: 2rem 0 0; } }

.application {
  background: url("../img/backgrounds/1parallax.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative;
  overflow: hidden;
  height: 441px; }

.application__parallax {
  position: absolute;
  top: 0;
  left: 0;
  height: 745px;
  width: 100%;
  background: url("../img/backgrounds/1parallax.jpg") no-repeat 50% 0;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 1; }

.application__parallax-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.application__container {
  padding: 50px 75px; }

.application__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.application__li {
  width: 250px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.application__li img {
  height: 93px; }

.application__li-text {
  font-size: 2.5rem;
  line-height: 3rem;
  color: white;
  text-align: center; }

.application__btn {
  background-color: #72b52b;
  color: white;
  margin: 40px auto 5px; }

.application__btn:active {
  opacity: 0.8; }

.application__btn:before {
  background: #57a1d6; }

@media screen and (max-width: 999px) {
  .application {
    height: auto; }
  .application__parallax {
    display: none; }
  .application__parallax-content {
    position: static;
    height: auto; } }

@media screen and (max-width: 767px) {
  .application {
    background: url("../img/backgrounds/1parallax.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
            background-size: cover; }
  .application__container {
    padding: 50px 20px; }
  .application__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .application__li {
    width: auto;
    margin-bottom: 5rem; }
  .application__btn {
    margin: 30px auto 0; } }

.advantages {
  padding: 4.5rem 0; }

.advantages__photo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.9rem; }

.advantages__photo {
  width: 365px; }

.advantages__list {
  width: 565px;
  margin: 0 auto; }

.advantages__li {
  color: #3c3c3c;
  font-size: 2rem;
  font-weight: normal;
  line-height: 3.5rem;
  padding: 1.3rem 0; }

.advantages__li-text {
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.advantages__li-other-view {
  color: #57a1d6; }

.advantages__li-galka {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 4.4rem;
  height: 4.4rem;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  background-color: #57a1d6;
  vertical-align: -1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.8rem; }

.advantages__li-galka img {
  width: 58%;
  position: relative;
  left: 1%; }

@media screen and (max-width: 1199px) {
  .advantages__photo {
    width: 32%; } }

@media screen and (max-width: 999px) {
  .advantages__list {
    width: 560px; }
  .advantages__li {
    font-size: 2.2rem;
    line-height: 3.6rem; } }

@media screen and (max-width: 767px) {
  .advantages__list {
    width: 440px; }
  .advantages__li-text {
    width: 385px; }
  .advantages__photo-container {
    display: none; } }

@media screen and (max-width: 479px) {
  .advantages__list {
    width: 328px; }
  .advantages__li-text {
    width: 260px; }
  .advantages__photo-container {
    display: none; } }

@media screen and (max-width: 350px) {
  .advantages__list {
    width: 288px; }
  .advantages__li-text {
    width: 240px; } }

.authority {
  background: url("../img/backgrounds/background-green2.svg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  background-color: #72b52b;
  padding: 4.5rem 0 3.5rem;
  font-size: 2rem;
  line-height: 2.8rem;
  color: white; }

.authority__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.authority__li {
  width: 355px;
  height: 148px;
  background-color: #57a1d6;
  border: 2px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.authority__li-text {
  margin: 0; }

.authority__quote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.authority__circle {
  background: url("../img/photos/vysokov.jpg");
  width: 235px;
  height: 235px;
  -webkit-border-radius: 115px;
          border-radius: 115px;
  -webkit-background-size: cover;
          background-size: cover; }

.authority__text-container {
  text-align: right;
  width: 57%;
  padding: 2rem 0; }

.authority__text-quote {
  margin: 1.5rem 0;
  font-style: italic; }

.authority__name {
  margin: 2.5rem 0 0.2rem;
  color: #ffed00;
  font-weight: bold; }

.authority__post {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.5rem; }

@media screen and (max-width: 1199px) {
  .authority__li {
    width: 30%;
    height: 120px;
    min-width: 300px; } }

@media screen and (max-width: 999px) {
  .authority {
    font-size: 2.6rem;
    line-height: 3.5rem; }
  .authority__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .authority__li {
    margin: 15px 0;
    width: 500px;
    height: 138px; }
  .authority__circle {
    width: 210px;
    height: 210px; }
  .authority__post {
    margin: 0;
    font-size: 2.2rem;
    line-height: 2.8rem; }
  .authority__text-container {
    padding: 0; } }

@media screen and (max-width: 767px) {
  .authority__li {
    width: 450px;
    height: 138px; }
  .authority__circle {
    display: none; }
  .authority__quote {
    margin-top: 20px; }
  .authority__text-container {
    width: auto; }
  .authority__text-quote {
    text-align: center; } }

@media screen and (max-width: 479px) {
  .authority__li {
    width: auto;
    height: 120px; } }

@media screen and (max-width: 350px) {
  .authority__li {
    width: auto;
    height: 110px; } }

.application-info {
  background: url("../img/backgrounds/2parallax.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 40px 0;
  height: 599px;
  position: relative;
  overflow: hidden; }

.application-info__parallax {
  position: absolute;
  top: 0;
  left: 0;
  height: 936px;
  width: 100%;
  background: url("../img/backgrounds/2parallax.jpg") no-repeat 50% 0;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 1; }

.application-info__parallax-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.application-info__container {
  text-align: center; }

.application-info__title {
  font-size: 3.5rem;
  line-height: 4.2rem;
  color: white;
  font-weight: normal;
  text-align: center;
  display: inline-block;
  width: 56%;
  margin: 3rem 0 4.8rem; }

.application-info__title-other-view {
  color: #ffed00; }

.application-info__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.application-info__li {
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.application-info__figure {
  font-size: 6rem;
  line-height: 6rem;
  color: white;
  font-weight: bold; }

.application-info__li-text {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #72b52b;
  text-align: center;
  margin: 1.5rem 0 2rem; }

.application-info__li-other-view {
  color: white; }

.application-info__btn {
  background-color: #72b52b;
  color: white;
  margin: 40px auto 20px; }

.application-info__btn:active {
  opacity: 0.8; }

.application-info__btn:before {
  background: #57a1d6; }

@media screen and (max-width: 1199px) {
  .application-info__title {
    display: inline-block;
    width: 70%; } }

@media screen and (max-width: 999px) {
  .application-info {
    height: auto; }
  .application-info__parallax {
    display: none; }
  .application-info__parallax-content {
    position: static;
    height: auto; }
  .application-info__title {
    display: inline-block;
    width: 80%; }
  .application-info__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .application-info__li {
    width: 600px;
    margin: 2rem 0; }
  .application-info__li-text {
    font-size: 2.5rem;
    line-height: 3.8rem;
    color: #72b52b;
    text-align: center;
    margin: 1.5rem 0 2rem; } }

@media screen and (max-width: 767px) {
  .application-info {
    padding: 20px 0; }
  .application-info__title {
    width: 90%; }
  .application-info__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .application-info__li {
    width: 90%;
    margin: 2rem 0; }
  .application-info__li-text {
    font-size: 2.5rem;
    line-height: 3.8rem;
    color: #72b52b;
    text-align: center;
    margin: 1.5rem 0 2rem; }
  .application-info__btn {
    margin: 30px auto 20px; } }

@media screen and (max-width: 479px) {
  .application-info {
    padding: 20px 0; }
  .application-info__title {
    width: auto; }
  .application-info__li {
    width: auto; } }

.reviews {
  padding: 3.8rem 0 5.3rem;
  background-color: #eeeeee; }

.reviews__title {
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 4.7rem;
  text-transform: uppercase;
  color: #57a1d6;
  text-align: center; }

.reviews__item {
  padding: 4rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.reviews__avatar {
  width: 203px;
  height: 203px;
  -webkit-border-radius: 152px;
          border-radius: 152px; }

.reviews__name {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: normal;
  color: #72b52b;
  margin: 3.2rem 0 1.8rem; }

.reviews__text {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #575757;
  margin: 0;
  display: inline-block;
  width: 390px; }

.reviews__btn {
  position: absolute;
  height: 100px;
  width: 100px;
  top: -webkit-calc(30%);
  top: calc(30%);
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10; }

.reviews__btn svg {
  height: 100%;
  width: 100%;
  fill: #57a1d6; }

.reviews__btn_disable svg {
  fill: #bbbbbb; }

.reviews__btn-left {
  left: 0;
  padding: 30px 40px 30px 20px; }

.reviews__btn-right {
  right: 0;
  padding: 30px 20px 30px 40px; }

.slider__viewport {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative; }

.slider__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.slider__item {
  width: 100%; }

@media screen and (max-width: 1199px) {
  .reviews__btn {
    height: 140px;
    width: 140px;
    top: 25%; }
  .reviews__btn-left {
    padding: 40px 40px 40px 10px;
    left: -40px; }
  .reviews__btn-right {
    padding: 40px 10px 40px 40px;
    right: -40px; } }

@media screen and (max-width: 999px) {
  .reviews {
    padding: 2.8rem 0 4.3rem; }
  .reviews__item {
    padding: 2rem 0; }
  .reviews__name {
    font-size: 2.8rem;
    line-height: 3.5rem; }
  .reviews__text {
    font-size: 2.2rem;
    line-height: 3rem;
    width: 95%; }
  .reviews__btn {
    height: 160px;
    width: 160px;
    top: 12%; }
  .reviews__btn-left {
    padding: 50px 50px 50px 10px;
    left: 0; }
  .reviews__btn-right {
    padding: 50px 10px 50px 50px;
    right: 0; } }

@media screen and (max-width: 767px) {
  .reviews {
    padding: 2.8rem 0 3.3rem; }
  .reviews__avatar {
    width: 180px;
    height: 180px; }
  .reviews__btn {
    height: 150px;
    width: 70px;
    top: 8%; }
  .reviews__btn-left {
    padding: 40px 30px 40px 10px;
    left: -10px; }
  .reviews__btn-right {
    padding: 40px 10px 40px 30px;
    right: -10px; } }

.advertising {
  padding: 4.2rem 0;
  background: url("../img/backgrounds/3photoback.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
          background-size: cover; }

.advertising__title {
  font-size: 3.5rem;
  line-height: 3rem;
  font-weight: normal;
  color: #ffed00;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6rem; }

.advertising__text {
  font-size: 2rem;
  line-height: 2.8rem;
  color: white;
  margin: 0;
  display: inline-block;
  width: 74%; }

.advertising__logos {
  height: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.4rem; }

.advertising__logos-iubip {
  height: 78%;
  margin-right: 5.8rem; }

.advertising__logos-fns {
  height: 100%; }

.advertising__btn {
  background-color: #ffed00;
  color: #3c3c3c;
  margin: 40px auto 10px; }

.advertising__btn:active {
  opacity: 0.8; }

.advertising__btn:before {
  background: #e5cd00; }

@media screen and (max-width: 1199px) {
  .advertising {
    background-position: 65% 50%; } }

@media screen and (max-width: 999px) {
  .advertising__text {
    font-size: 2.2rem;
    line-height: 3rem; } }

@media screen and (max-width: 767px) {
  .advertising {
    background-position: 70% 50%;
    padding: 2.5rem 0 3rem; }
  .advertising__title {
    margin-bottom: 3rem;
    line-height: 4rem; }
  .advertising__text {
    font-size: 2.2rem;
    line-height: 3rem;
    width: auto; }
  .advertising__logos {
    height: 80px;
    margin-top: 2rem; }
  .advertising__btn {
    background-color: #ffed00;
    color: #3c3c3c;
    margin: 30px auto 10px; } }

@media screen and (max-width: 479px) {
  .advertising__logos {
    height: 70px; }
  .advertising__logos-iubip {
    height: 78%;
    margin-right: 3rem; } }

@media screen and (max-width: 350px) {
  .advertising__title {
    font-size: 3rem; } }
