html {
	font-size: 10px;
}

body {
	background-color: white;
	font-family: "Etelka", sans-serif;
}



// VARIABLES

$greyLine: #c2c1c0;
$greyDarkText: #575756;
$greyReviewsText: #575757;
$greyText: #6f6f6f;
$darkGreyText: #3c3c3c;
$lightGreyText: #878787;
$greenText: #72b52b;
$lightGreyBackground: #eeeeee;
$lightBlueText: #57a1d6;
$blueTextHover: #006ca8;
$yellowText: #ffed00;
$greenMenu: #8dc353;



%container {
	max-width: 1200px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 25px;
}

%separator{
	background-color: $greyLine;
	width: 3px;
	border-radius: 2px;
}

%btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 581px;
	height: 91px;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2px;
	position: relative;
	transform: perspective(1px) translateZ(0);
}

%btn-before {
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

%btn-before-hover {
	transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


@media screen and (max-width: 1199px) {
	html {
		font-size: 10px;
	}

	%container {
		padding: 0 30px;
	}
}

@media screen and (max-width: 999px) {
	html {
		font-size: 9px;
	}

	%btn {
		width: 500px;
		height: 80px;
	}
}

@media screen and (max-width: 767px) {

	html {
		font-size: 8px;
	}

	%container {
		padding: 0 16px;
	}

	%separator{
		width: 2px;
	}

	%btn {
		width: 400px;
		height: 80px;
	}
}

@media screen and (max-width: 479px) {

	html {
		font-size: 7px;
	}

	%btn {
		width: 320px;
		height: 70px;
	}
}

@media screen and (max-width: 350px) {

	%btn {
		width: 278px;
		height: 60px;
	}
}