@font-face {
    font-family: "Etelka";
    font-weight: normal;
    src: url('../fonts/EtelkaTextPro.WOFF');
}

@font-face {
    font-family: "Etelka";
    font-weight: bold;
    src: url('../fonts/EtelkaTextProBold.WOFF');
}